#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (max-width: 900px) {
  .grid-box {
    display: block;
  }
}
