.card-container {
  background-color: white;
  border-radius: 5px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 300px;
  text-align: center;
}

.booking-button {
  background-color: black;
  border-radius: 3px;
}

.unbooking-button {
  background-color: white;
  border-radius: 3px;
  border-color: black;
  color: black;
}

.booking-button:hover {
  background-color: darkgray;
}
.booking-button:disabled {
  background-color: gray;
}

.warning {
  font-style: italic;
}
